@import "../../assets/styles/vars";
@import "../../assets/styles/mixins";

.navText {
  height: 60px;
  padding: 7px 20px 7px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & a {
    height: 38px;
    width: 38px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $black-text-color;
    background-color: #fff;
    border-radius: 50%;
    cursor: default;

    &:hover {
      @include desktop {
        background-color: $accent-color;
        cursor: pointer;
      }
    }
  }

  & a span {
    margin-left: 16px;
  }
}
