$accent-color: rgba(89, 177, 122, 0.7);
$accent-hover-color: #59b17a;
$black-text-color: #1d1e21;
$white-text-color: #fff;
$grey-text-color: rgba(29, 30, 33, 0.4);
$backdrop-color: rgba(18, 20, 23, 0.5);
