@import "../../assets/styles/vars";
@import "../../assets/styles/mixins";

.cardWrapper {
    width: 157px;
    height: 98px;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid rgba(29, 30, 33, 0.10);
    background: #FFF;

    
    &:hover {
        border-color: #59B17A;
        cursor: pointer;
    }
    
    @include tablet {
        width: 221px;
        height: 108px;
    }

    @include desktop {
        width: 240px;
    }
}

.alignIconAndCaption {
    display: flex;
    align-items: center;
    gap: 8px;
}

.greyCaption {
    color: rgba(29, 30, 33, 0.40);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Inter-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

.boldCaption {
    display: block;
    margin-top: 32px;
    color: #1D1E21;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "Inter-Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
}